@font-face {
	font-family: Montserrat;
		src: url("assets/fonts/static/Montserrat-Regular.ttf");
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; 
 }

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.5em
}

header {
	background-color: khaki;
}

main {
	margin-bottom: auto;
}

footer {
	background-color: khaki;
}

h1 {
	text-align: center;
	font-size: 40px;
}


h2 {
	font-size: 24px;
}

p {

}

.container {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 50px;
}

.image {
	display:block;
	margin: 0 auto;
	width: 300px;
	height:300px;
	border-radius: 15%;
	border: 15px solid orange;
}

.icon {
	display:block;
	width: 100px;
	height: 50px;
}

.profession {
	font-size: 24px;
	text-align: center;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

.nav-item {

}